.content {
  min-height: calc(100vh - 70px - 64px);
}


.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.search {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.search .input-field input[type=search] {
  margin-bottom: 0;
}

.search .input-field {
  flex-grow: 11;
  margin: 0 15px 0 0;
}

.filters label {
  margin-right: 15px;
}

.search > .btn {
  flex-grow: 1;
  max-width: 115px;
}